/.metadata/
bin
*.prefs
bin/
.classpath
.project
V2/Simulation_EvacuationV2/saves/Nom de la sauvegarde 
V2/Simulation_EvacuationV2/Chemin de la sauvegarde 
V2/Simulation_EvacuationV2/Chemin de la sauvegarde 
